/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css  */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.container {
  margin: 30px auto;
  width: 1200px;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* Navbar Section Styles  */
.left-img-side img{
  width: 80%;
}
.logo,
.heading-title {
  color: #3a3a3a;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
li a {
  text-decoration: none;
  color: #3a3a3a;
}
/* Banner Area */

.right-text-side {
  margin-top: 100px;
  margin-bottom: 15px;
}
.heading-title {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 70px;
}
.heading-sub-title {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.btn-primary {
  background-color: #e02c6d;
  border-radius: 41px;
  border: 0;
  padding: 10px 24px;
  color: #fff;
}
.gap {
  margin-left: 10px;
}
/* Multiple Logo Area  */
.multiple-logo {
  margin: 0 60px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.multiple-logo img {
  width: 100px;
}
.round-border {
  border: 2px solid #bfcbd999;
  margin: 0 80px;
  border-radius: 5px;
}
/* Popular Collection area */
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px ; /*raw column gap */
  
}
.head-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.collection {
  background-color: #ffffff;
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.collection-banner {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.collection-detail {
  margin: 5px 15px;
  margin-left: 15px;
}
.collection-title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
}
.rating{
  display: flex;
  gap: 15px;
  margin: 10px 0px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
 
  color: #aeaeae;
}
.sub-title {
  color: #787885;
  font-style: normal;
  font-size: 14px;
  line-height: 143%;
}
